<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ticket Kiosk</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
        <!-- Our CSS -->
        <link rel="stylesheet" href="styles.css">
    </head>
    <body ng-app="ticketKiosk" ng-controller="ticketController">

        <div class="">
          <h2>Ticket Kiosk</h2>
          <h2>News Feed</h2>
          <form class="">
          Name:  <input type="text" ng-model="name"> <br>
          Number of Tickets:  <input type="number" ng-model="numTix">
            <p>Individual Price: $2.50</p>
            <p>Total: {{numTix * 2.50 | currency}}</p>
            <button type="submit" name="submit" ng-click = "newsFeed(name, numTix)">Press for Success</button>
              <p ng-repeat="consumer in consumers track by $index">{{consumer}}</p>
          </form>

        </div>

        <!-- Invlude Angular and UI.Bootstrap -->
        <script src="lib/angular.min.js" charset="utf-8"></script>
        <script src="lib/ui-bootstrap-tpls-2.5.0.min.js" charset="utf-8"></script>
        <!-- Our Scripts -->
        <script src="js/app.js" charset="utf-8"></script>
    </body>
</html>
